           .percentage {
               height: 100px;
               width: 0px;
               background-color: chartreuse;
           }

           #txtName {
               width: 185px;
           }